body {
    background-image: url('../img/landingbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; 
    margin: 0; 
}

.button1 {
    margin-left: 10%;
    margin-top: 38%;
} 

.button2 {
    margin-left: 2%;
    margin-top: 38%;
} 